<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mivec_Support>
            <version>0.1</version>
        </Mivec_Support>
    </modules>
    <frontend>
        <routers>
            <support>
                <use>standard</use>
                <args>
                    <module>Mivec_Support</module>
                    <frontName>support</frontName>
                </args>
            </support>
        </routers>
        <layout>
            <updates>
                <support>
                    <file>mivec/support.xml</file>
                </support>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <support>
                <use>admin</use>
                <args>
                    <module>Mivec_Support</module>
                    <frontName>support</frontName>
                </args>
            </support>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <mivec module="support">
                <title>MIVEC</title>
                <sort_order>80</sort_order>
                <children>
                    <support module="support">
                        <title>Support</title>
                        <sort_order>90</sort_order>
                        <children>
                            <ticket module="support" translate="title">
                                <title>Ticket</title>
                                <sort_order>1000</sort_order>
                                <action>support/adminhtml_ticket</action>
                            </ticket>
                            <department module="support">
                                <title>Department</title>
                                <sort_order>1003</sort_order>
                                <action>support/adminhtml_department</action>
                            </department>
                            <type module="support">
                                <title>Type</title>
                                <sort_order>1002</sort_order>
                                <action>support/adminhtml_type</action>
                            </type>
                        </children>
                    </support>
                </children>
            </mivec>
        </menu>
        <layout>
            <updates>
                <support>
                    <file>mivec_support.xml</file>
                </support>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <!--events>
            <admin_sales_order_addcomment>
                <observers>
                    <mivec_order_model_observer_admin_sales_order_addcomment>
                        <type>singleton</type>
                        <class>support/observer_admin_sales_order_addcomment</class>
                        <method>prepareCreateTicket</method>
                    </mivec_order_model_observer_admin_sales_order_addcomment>
                </observers>
            </admin_sales_order_addcomment>
        </events-->
        <models>
            <support>
                <class>Mivec_Support_Model</class>
                <resourceModel>support_mysql4</resourceModel>
            </support>
            <support_mysql4>
                <class>Mivec_Support_Model_Mysql4</class>
                <entities>
                    <ticket>
                        <table>mivec_ticket</table>
                    </ticket>
                    <type>
                        <table>mivec_ticket_type</table>
                    </type>
                    <message>
                        <table>mivec_ticket_message</table>
                    </message>
                    <department>
                        <table>mivec_ticket_department</table>
                    </department>
                </entities>
            </support_mysql4>
        </models>
        <resources>
            <support_setup>
                <setup>
                    <module>Mivec_Support</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </support_setup>
            <support_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </support_write>
            <support_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </support_read>
        </resources>
        <blocks>
            <support>
                <class>Mivec_Support_Block</class>
            </support>
        </blocks>
        <helpers>
            <support>
                <class>Mivec_Support_Helper</class>
            </support>
        </helpers>
    </global>
</config>