<?xml version="1.0" ?>
<config>
    <modules>
        <Mivec_Orderhook>
            <version>0.1</version>
        </Mivec_Orderhook>
    </modules>

    <frontend>
        <routers>
            <orderhook>
                <use>standard</use>
                <args>
                    <module>Mivec_Orderhook</module>
                    <frontName>orderhook</frontName>
                </args>
            </orderhook>
        </routers>
        <layout>
            <updates>
                <orderhook>
                    <file>mivec/orderhook.xml</file>
                </orderhook>
            </updates>
        </layout>
    </frontend>

    <global>
        <models>
            <orderhook>
                <class>Mivec_Orderhook_Model</class>
            </orderhook>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <auto_invoice_order>
                        <type>singleton</type>
                        <class>Mivec_Orderhook_Model_Observer</class>
                        <method>implementOrderStatus</method>
                    </auto_invoice_order>
                </observers>
            </sales_order_place_after>
        </events>

        <blocks>
            <orderhook>
                <class>Mivec_Orderhook_Block</class>
            </orderhook>
        </blocks>
        <helpers>
            <orderhook>
                <class>Mivec_Orderhook_Helper</class>
            </orderhook>
        </helpers>
    </global>
</config>