<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Randomslider>
            <version>0.1.0</version>
        </Themevast_Randomslider>
    </modules>
    <frontend>
        <routers>
            <randomslider>
                <use>standard</use>
                <args>
                    <module>Themevast_Randomslider</module>
                    <frontName>randomslider</frontName>
                </args>
            </randomslider>
        </routers>
        <layout>
            <updates>
                <randomslider>
                    <file>themevast/randomslider.xml</file>
                </randomslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<randomslider>
				<use>admin</use>
				<args>
					<module>Themevast_Randomslider</module>
					<frontName>randomslider</frontName>
				</args>
			</randomslider>
        </routers>
    </admin>
    <global>
        <models>
            <randomslider>
                <class>Themevast_Randomslider_Model</class>
                <resourceModel>randomslider_mysql4</resourceModel>
            </randomslider>
            <randomslider_mysql4>
                <class>Themevast_Randomslider_Model_Mysql4</class>
            </randomslider_mysql4>
        </models>
        <resources>
            <randomslider_setup>
                <setup>
                    <module>Themevast_Randomslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </randomslider_setup>
            <randomslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </randomslider_write>
            <randomslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </randomslider_read>
        </resources>
        <blocks>
            <randomslider>
                <class>Themevast_Randomslider_Block</class>
            </randomslider>
        </blocks>
        <helpers>
            <randomslider>
                <class>Themevast_Randomslider_Helper</class>
            </randomslider>
        </helpers>
    </global>
	<default>
		<randomslider>
			<general>
			    <enabled>1</enabled>
			    <title></title>
			    <vertical>0</vertical>
			    <auto>0</auto>
			    <controls>1</controls>
			    <pager>0</pager>
			    <speed>300</speed>
			    <pause>2000</pause>
			    <maxSlides>2</maxSlides>
			    <rows>1</rows>
			    <slideWidth>280</slideWidth>
			    <price>1</price>
			    <cart>0</cart>
			    <wishlist>0</wishlist>
			    <compare>0</compare>
			    <review>0</review>
			    <qty>15</qty>
			    <widthImage>135</widthImage>
			    <heightImage>135</heightImage>
			</general>
		</randomslider>
	</default>
</config>

